<!-- src/main/resources/templates/fragments/header1.html -->
<div th:fragment="header">
    <div class="container-fluid py-2" style="background-color: #b7ffff;">
        <div class="d-flex justify-content-start gap-3">
            <a th:href="@{/}" class="btn btn-outline-primary rounded-pill text-black bg-white">Top</a>
            <a th:href="@{/about}" class="btn btn-outline-success rounded-pill text-black bg-white">About</a>
            <a th:href="@{/terms}" class="btn btn-outline-warning rounded-pill text-black bg-white">Terms</a>
            <a th:href="@{/legal}" class="btn btn-outline-danger rounded-pill text-black bg-white">Legal</a>
        </div>
    </div>
</div>

